
<div class="form-group">
	<CustomInput Label="First name" BorderColor="green" />
</div>

<div class="form-group">
	<CustomInput Label="First name" BorderColor="green" WithBorder="false" />
</div>


<div class="form-group">
	<CustomInput Label="First name" Error="First name is required" />
</div>

<button type="submit" class="btn btn-primary btn-block">Submit</button>

